---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="关于"
  heroTitle="关于blog"
  heroSubtitle="写给未来的自己，也写给正在阅读的你。"
>
  <section class="card prose">
    <h2>我是谁</h2>
    <p>你好，我是 yomo40，一名普通的普本大二学生。</p>
    <p>为了摆脱毕业即失业或下工地的命运，正在努力向计算机方向转型。</p>
    <p>半个 CTFer，同时也在学习运维。</p>
    <p>热爱 ACG、UAV 与音游，扩列交流欢迎。</p>

    <h2>关于博客</h2>
    <ul>
      <li>会不定时发一些比赛writeup与笔记。</li>
      <li>同时也会记录一些日常琐事。</li>
    </ul>

    <h2>找到我</h2>
    <ul>
      <li>
        GitHub:
        <a href="https://github.com/yomo40" target="_blank" rel="noreferrer">
          @yomo40
        </a>
      </li>
      <li>
        QQ:
        <a href="https://qm.qq.com/cgi-bin/qm/qr?k=gQlB--syVjbxOhh0ghhkQpe-mQf5sEAJ">
          @3372185839
        </a>
      </li>
      <li>
        QQ Mail:
        <a href="mailto:3372185839@qq.com">3372185839@qq.com</a>
      </li>
      <li>
        Gmail:
        <a href="mailto:yomo407325@gmail.com">yomo407325@gmail.com</a>
      </li>
    </ul>
  </section>
</BaseLayout>
