---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="关于"
  heroTitle="关于这个博客"
  heroSubtitle="写给未来的自己，也写给正在阅读的你。"
>
  <section class="card prose">
    <h2>我是谁</h2>
    <p>你好，我是 yomo40，一名普通的大二学生。</p>
    <p>为了摆脱工地命运，正在努力向计算机方向转型。</p>
    <p>半个 CTFer，同时也在持续学习运维。</p>
    <p>热爱 ACG、AV 与音乐，欢迎交流。</p>

    <h2>关于博客</h2>
    <ul>
      <li>会不定时分享一些 writeup 与笔记。</li>
      <li>同时也会记录一些日常与思考。</li>
    </ul>

    <h2>联系方式</h2>
    <ul>
      <li>
        GitHub:
        <a href="https://github.com/yomo40" target="_blank" rel="noreferrer">
          @yomo40
        </a>
      </li>
      <li>
        QQ:
        <a href="tencent://message/?uin=3372185839&Site=&Menu=yes">
          @3372185839
        </a>
      </li>
      <li>
        QQ Mail:
        <a href="mailto:3372185839@qq.com">3372185839@qq.com</a>
      </li>
      <li>
        Gmail:
        <a href="mailto:yomo407325@gmail.com">yomo407325@gmail.com</a>
      </li>
    </ul>
  </section>
</BaseLayout>
